#home{
    background-image: url('../assets/color.jpg');
    width: 100%;
    height:100vh ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#home h1{
    font-size: 3rem;
    color: chartreuse;
    letter-spacing: 3px;
}


