#page{
    background-color: #ff8b8b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100vh;
    
}

.cover{
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 400px;
    justify-content: space-between;
    margin-top: 7rem;
    border-radius: 20px;
}

h1{
    text-align: center;
    top: 10px;
    margin-top: 20px;
    font-size: 2rem;
}

.input-box label input{
    width: 70%;
    height: 30px;
    margin-top: 20px;
    margin-left: 15%;
    text-align: center;
    font-size: 15px;
    outline: none;
    border: none;
    border: 2px solid green;
    border-radius: 5px;
}

.input-box label input:hover{
    border: 2px solid blue;
}

#signup-btn{
    background-color: violet;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    height: 10%;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.5s ease-out;
}

#signup-btn:focus{
    transform: scale(1.25);
}

p{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p a{
    color: red;
    text-decoration: none;
    
}